<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/css/customercenter/customercenter.css" rel="stylesheet">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="customercenter">
  <a href="/customercenter/customercenter">Customer Center</a>
</div>
<div class ="allsection">


<div class="section">
  <h1> CONTACT US </h1>
  <h2> Tel. 010-4139-1067</h2>
</div>

<div class="section">
  <h1> OPENING HOURS </h1>
  <h2>MON-FRI: 11:00~18:00</h2>
</div>

<div class="section">
  <h1> BUSINESS CONTACT </h1>
  <h2> EMAIL: ahyrob@github.com</h2>
</div>
</div>

</body>
</html>