.customercenter a {
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.customercenter {
    margin-top: 70px;
    margin-left: 70px;
}

.customercenter:after {
    content: "";
    display: block;
    width: 1530px;
    border-bottom: 2px solid #ccc;
    margin: 20px 0px;
}


.rounded-box {
    width: 350px; /* 너비 */
    height: 400px; /* 높이 */
    background-color: #ffffff; /* 배경색 */
    border-radius: 15px; /* 모서리 둥글게 설정 */
    padding: 20px; /* 내부 여백 */
    border: 2px solid #ccc; /* 테두리 스타일과 색상 */
    margin-left: 90px;
    margin-top: 40px;
    margin-right: 20px; /* 각 박스 사이의 간격 설정 */
}

.rounded-box img{
    margin-left: 5px;
}

.rounded-box-title{
    color: black;
    text-align: center;
}

.rounded-box-price{
    color: black;
    text-align: center;
}

.section {
    text-align: center;
    display: inline-block; /* 옆으로 나열되도록 설정 */
    vertical-align: top; /* 섹션들을 위로 정렬 */
    margin-right: 80px; /* 섹션들 사이의 간격 조정 */
}

.section h2{
    color: #cccccc;
}
.allsection{
    text-align: center;
    margin-top: 400px;
}