<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" href="/css/styles.css">-->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />


</head>
<body>
<!-- 헤더 부분 -->
<div class="header" th:fragment="bodyHeader">
    <a href="/" class="ahyrob-link"><h3 class="text-muted">ahyrob</h3></a>
    <div class="navigation">
        <a href="/shop/shop">Shop</a>
        <a href="/customercenter/customercenter">Customer Center</a>
        <a href="/cart/cart">Cart</a>
        <!-- 로그인 상태에 따라 다른 메뉴 표시 -->
        <div th:if="${session.loggedInUserId}">
            <a href="/mypage">My Page</a>
        </div>
        <div th:unless="${session.loggedInUserId}">
            <a href="/login/login">Login</a>
        </div>
    </div>
</div>

</body>
</html>