<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="/css/cart/cart.css" rel="stylesheet">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div th:replace="fragments/header :: header"></div>
</head>
<body>


<div class="cart">
  <a href="/users/cart">Cart</a>
</div>

<div class="rounded-box">
  <img src="/image/bag1.png" width="200" height="200" alt="Heart Cross bag(4 Colors)">
  <p class="rounded-box-title"><b>Heart Cross bag (4 Colors)</b></p>
  <p class="rounded-box-price"><b>128,000</b></p>
</div>

<div class="order-summary">
  <p class="rounded-box-title"><b>Order Summary</b></p>
  <p class="rounded-box-price"><b>128,000</b></p>
</div>

</body>
</html>