<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/cart/cart.css}">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="container">


  <main>
    <h1>Cart</h1>
    <div class="cart-items">
      <!-- Example of a cart item -->
      <div class="cart-item" th:each="item : ${cartItems}">
        <div class="item-details">
          <img th:src="@{${item.imageUrl}}" alt="Item Image"/>
          <div>
            <span th:text="${item.name}">Item Name</span>
            <span th:text="${item.price}">Item Price</span>
            <span th:text="${item.color}">Color</span>
            <span th:text="${item.size}">Size</span>
          </div>
          <input type="number" th:value="${item.quantity}" min="1">
          <button type="button" class="remove-item">X</button>
        </div>
        <div class="item-price" th:text="${item.totalPrice}">Item Total Price</div>
      </div>
    </div>

    <aside class="order-summary">
      <h2>Order Summary</h2>
      <div>
        <span>Subtotal</span>
        <span th:text="${subtotal}">상품 합계</span>
      </div>
      <div>
        <span>Shipping</span>
        <span th:text="${shipping}">배송비</span>
      </div>
      <div>
        <span>Discount</span>
        <span th:text="${discount}">할인 금액</span>
      </div>
      <div class="total">
        <span>Total</span>
        <span th:text="${total}">총 합계</span>
      </div>
      <button type="button" class="checkout-button">결제 하기</button>
    </aside>
  </main>
</div>
</body>
</html>
