<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--타임 리프를 사용할 것이다~ 라는 것-->
<head>
    <title>홈화면</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/home.css">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="image-container1" id="product1" >
    <a href="/users/{userid}/item/{itemid}">
        <img src="/image/bag1.png" width="400" height="400" alt="Heart Cross bag(4 Colors)"> <!--이미지가 안나왔을 때 뜨는 alt-->
    </a>
    <p class="image-description-name"><b>Heart Cross bag (4 Colors)</b></p>
    <p class="image-description-price"><b>128,000</b></p>
</div>

<div class="image-description-container1">
    <br>"We believe in fashion. Stylish fashion. Fashion like:
    <p>Denim. Linen. Silk. Leather. Wool. Cotton. Velvet. Tweed. Satin. Cashmere. Sequins."</p>

    <br>Embroidery. Lace. Ribbons. Fringes. Ruffles. Pleats. Tassels. Blazers. Cardigans. Hoodies.
    <p>Joggers. Maxi dresses. Mini skirts. Jumpsuits. Bodysuits. Scarves. Sunglasses. Boots."</p>
</div>

<div class="image-container2" id="product2">
    <a href="/users/{userid}/item/{itemid}">
        <img src="/image/top2.png" width="400" height="400" alt="Teddy Slit Top(3 Color)">
    </a>
    <p class="image-description-name"><b>Teddy Slit Top (3 Colors)</b></p>
    <p class="image-description-price"><b>44,000</b></p>
</div>

<div class="image-container3" id="product3">
    <a href="/users/{userid}/item/{itemid}">
        <img src="/image/accessory.png" width="400" height="400" alt="Soft Boucle Muffler">
    </a>
    <p class="image-description-name"><b>Soft Boucle Muffler</b></p>
    <p class="image-description-price"><b>29,000</b></p>
</div>

<div class="image-container4" id="product4">
    <a href="/users/{userid}/item/{itemid}">
        <img src="/image/bag2.png" width="400" height="400" alt="Blang Shoulder Bag(2 Colors)">
    </a>
    <p class="image-description-name"><b>Blang Shoulder Bag (2 Colors)</b></p>
    <p class="image-description-price"><b>29,000</b></p>
</div>

<div class="image-container5"id="product5">
    <a href="/users/{userid}/item/{itemid}">
        <img src="/image/top1.png" width="500" height="500" alt="Teddy Fur Jacket(3 Colors)">
    </a>
    <p class="image-description-name"><b>Teddy Fur Jacket (3 Colors)</b></p>
    <p class="image-description-price"><b>117,000</b></p>
</div>

<!--    <div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>