<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/loginstyles.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container">
    <div class="password-found">
        <h2>새로운 비밀번호 입력</h2>
        <form action="/login/password-found" method="post">
            <div class="form-input-group">
            <h6>새로운 비밀번호</h6>
            <input type="password" name="newPassword" class="form-input" placeholder="새로운 비밀번호를 입력하세요" required>
            </div>
            <div class="form-input-group">
            <h6>비밀번호 확인</h6>
            <input type="password" name="confirmPassword" class="form-input" placeholder="비밀번호를 다시 입력하세요" required>
            </div>
            <button type="submit" class="form-button">비밀번호 변경</button>
            <div th:if="${error}" class="error-message">
            비밀번호가 일치하지 않습니다.
            </div>
            </form>
            </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
