<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>제품 상세 정보</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/product_details.css">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="product-details-container">
  <div class="product-image">
    <img src="/image/bag1.png" width="400" height="400" alt="Heart Cross bag(4 Colors)">
  </div>
  <div class="product-description">
    <h3>Heart Cross bag (4 Colors)</h3>
    <p><b>가격:</b> 128,000원</p>
    <p><b>설명:</b> 이 가방은 스타일리시한 디자인과 높은 품질로 유명합니다.</p>
  </div>
  <div class="order-section">
    <form action="/users/{userid}/item/{itemid}/order" method="post">
      <div class="options">
        <label>
          <input type="radio" name="option" value="option1" required> Option 1
        </label>
        <label>
          <input type="radio" name="option" value="option2"> Option 2
        </label>
        <label>
          <input type="radio" name="option" value="option3"> Option 3
        </label>
      </div>
      <a th:href="@{/users/{userid}/item/{itemid}/order(userid=${userid}, itemid=${itemid})}" class="btn btn-primary">주문하기</a> <!-- 주문하기 버튼 추가 -->
    </form>
  </div>
</div>
</body>
</html>
