<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/items/accessory.css" rel="stylesheet">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="all">
    <a href="/items/top">Accessory</a>
</div>

<div class="rounded-box">
    <img src="/image/accessory.png" width="330" height="330" alt="Soft Boucle Muffler">
    <p class="rounded-box-title"><b>Soft Boucle Muffler</b></p>
    <p class="rounded-box-price"><b>29,000</b></p>
</div>


</body>
</html>