<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/items/all.css" rel="stylesheet">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="all">
    <a href="/items/all">ALL</a>
</div>

<div class="rounded-box">
    <a href="/users/{userid}/item/{itemid}">
    <img src="/image/bag1.png" width="300" height="300" alt="Heart Cross bag(4 Colors)">
    </a>
    <p class="rounded-box-title"><b>Heart Cross bag (4 Colors)</b></p>
    <p class="rounded-box-price"><b>128,000</b></p>
</div>


</body>
</html>