<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/items/bottom.css" rel="stylesheet">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="all">
    <a href="/items/bottom">Bottom</a>
</div>

<div class="rounded-box">
    <img src="/image/bottom.png" width="330" height="330" alt="Slub Semi Wide Slacks(2 Colors)">
    <p class="rounded-box-title"><b>Slub Semi Wide Slacks(2 Colors)</b></p>
    <p class="rounded-box-price"><b>103,000</b></p>
</div>


</body>
</html>