<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>제품 상세 정보</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/css/items/product_details.css">
  <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
  <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div class="product-details-container">
  <div class="product-image">
    <img src="/image/bag1.png" width="400" height="400" alt="Heart Cross bag(4 Colors)">
  </div>

  <div class="option">
  <div class="product-description">
    <h3>Heart Cross bag (4 Colors)</h3>
    <p> 128,000원</p>
  </div>

  <div class="order-section">
    <form th:action="@{/cart/add}" method="post">
      <input type="hidden" name="userId" th:value="${userId}" />
      <input type="hidden" name="itemId" th:value="${itemId}" />
      <div class="options">
        <p><b>Color:</b></p>
        <select id="color" name="color" required>
          <option value="Red">Red</option>
          <option value="Blue">Blue</option>
          <option value="Black">Black</option>
          <option value="Purple">Purple</option>
        </select>
      </div>

      <div class="orderbutton">
        <a th:href="@{/users/{userid}/item/{itemid}/order(userid=${userid}, itemid=${itemid})}" class="btn btn-primary">구매하기</a> <!-- 주문하기 버튼 추가 -->
      </div>

      <div class="cartbutton">
        <a th:href="@{/users/cart}" class="btn btn-primary">장바구니에 추가</a> <!-- 장바구니 추가 -->
      </div>
<!--    <input type="hidden" name="quantity" value="1"/>
    <button type="submit" class="btn btn-primary">장바구니에 추가</button>-->
    </form>


    <div class="detailimage">
      <img src="/image/detailshot.jpeg" width="500" height="700" alt="Heart Cross bag(4 Colors) Detail Cut">
    </div>

</div>
  </div>
</div>
</body>
</html>
