<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/items/top.css" rel="stylesheet">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>

<div class="all">
    <a href="/items/top">Top</a>
</div>

<div class="rounded-box">
    <img src="/image/top2.png" width="330" height="330" alt="Teddy Fur Jacket(3 Colors)">
    <p class="rounded-box-title"><b>Teddy Slit Top(3 Color)</b></p>
    <p class="rounded-box-price"><b>44,000</b></p>
</div>


</body>
</html>